.Monster{
    border: 0;
    width: 500px;
    background-color: #fff;
    cursor: pointer;
}
.Monster:active{     
    background-color:red;    
}

.Shop{
    display: flex;
    gap: 10%;
}

.Swords{
    cursor: pointer;
    border-radius:30%;
    border:0;
    width: 100px;
    height: 50px;
}
.Swords:active{     
    background-color:green;    
}